<%= form_for(@rpm_org) do |f| %>
  <% if @rpm_org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rpm_org.errors.count, "error") %> prohibited this rpm_org from being saved:</h2>

      <ul>
        <% @rpm_org.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit @rpm_org.new_record? ? 'new RPM' %>
  </div>
<% end %>
