<%
  #partial=>_content
#locals=>brief or solution
%>
<table class="table brief_attaches">
  <tbody>
    <tr>
      <th>文件名</th>
      <th></th>
    </tr>
    <%n=1
    brief.attaches.each do |e|%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>
          <%= e.attach_file_name  %>
        </td>
        <td class="last">
          <%= link_to '下载',download_brief_attach_path(brief,e)%>
          |
          <%= link_to '更新',edit_brief_attach_path(brief,e)%>
          |
          <%=  link_to '删除',
          brief_attach_path(brief,e), 
          :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= link_to '新建附件', new_brief_attach_path(brief) %>
