<%
  #solutions/index/_index
#brief
%>
<table class="table brief_attaches">
  <tbody>
    <tr>
      <th>名称</th>
      <th></th>
    </tr>
    <%
      brief_items_size = brief.items.length
      n=1
      brief.vendor_solutions.each do |e|%>
        <tr class="<%=['odd','even'][(n+=1)%2]%>">
          <td>
            <%= e.org.name %>
            (<%= "#{e.designs.length+e.products.length}/#{brief_items_size}"%>)
          </td>
          <td class="last">
            <%if e.op.read?(@cur_user.id)%>
              <%= link_to '方案',solution_path(e)  %>
            <%else%>
              <%= link_to '方案',solution_path(e) , :style=>"#{unread_color}"%>
            <%end%>
            |
            <%=link_to '指派的子项',items_path(:solution_id=>e.id)  %>
            |
            <%= link_to '删除', solution_path(e),
            :confirm => '确定删除吗?', :method => :delete %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

