<%
  #partial => _nav
#locals => brief,back
%>
<li class="first">
<%= link_to '返回', briefs_path %>
</li>
<li <%=raw 'class="active"' if brief_path(brief) == request.fullpath%>>
<%= link_to '需求', brief_path(brief) %>
</li>
<li>
<li <%=raw 'class="active"' if solution_path(brief.cheil_solution) == request.fullpath%>>
<%= link_to '方案', solution_path(brief.cheil_solution) %>
</li>


