<%
  #partial=>_content
#locals=>brief,back
%>
<p>
  <b>Name:</b>
  <%= user.name %>
</p>

<p>
  <b>Email:</b>
  <%= user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= user.phone %>
</p>

<%= link_to '修改', edit_user_path(user) %>
|
<%= link_to '删除', user,:method=>'delete',:confirm=>'确定吗？' %>

