<%= form_for(@attach,:url=>@path,:html=>{:class=>'form'}) do |f| %>
  <div class="group">
    <%= f.label :attach,'附件',:class=>'label' %><br />
    <%= f.file_field :attach,:class=>'file_field' %>
  </div>

  <div class="group">
    <%= f.submit '提交' %>
    <%= link_to '取消', @back %>
  </div>
<% end %>

