<%
  #partial => briefs/cheil/_nav
#locals => brief,
%>
<li class="first">
<%=link_to '返回',briefs_path%>
</li>
<li <%=raw 'class="active"' if brief_path(brief) == request.fullpath%>>
<%=link_to '需求',brief_path(brief)%>
</li>
<li <%=raw 'class="active"' if solutions_path == request.fullpath.split('?').first%>>
<%=link_to '已选Vendor',solutions_path(:brief_id=>brief.id)%>
</li>
<li <%=raw 'class="active"' if solution_path(brief.cheil_solution) == 
  request.fullpath.split('?').first%>>
<%=link_to 'Cheil 方案',solution_path(brief.cheil_solution)%>
</li>

