<%
  #partial=>_brief_commment
#locals => brief,comments,back
%>
<%unless comments.empty?%>
  <%= link_to '新建评论', 
    new_brief_comment_path(brief,:back => back) 
  %>
  <table>
    <tr>
      <th></th>
      <th>内容</th>
    </tr>
    <%comments.each do |e|%>
      <tr>
        <td>
          <%= e.user.name  %><br/>
          <%= short_d(e.created_at)  %>
        </td>
        <td>
          <%= simple_format(e.content)  %>
          <%= link_to '删除',
            brief_comment_path(brief,e,:back=>back), 
            :confirm => 'Are you sure?', 
            :method => :delete if @cur_user.id == e.user_id
          %>
        </td>
      </tr>
    <%end%>
  </table>
<%end%>

