<%
  #partial => _brief_items_tr
#locals => items,kind,kind_cn
%>
<%unless items.empty?%>
  <%n=0
  items.each do |e|%>
    <tr>
      <%(n+=1).upto(1)do %>
        <td colspan="1" rowspan="<%=items.length%>"><%=kind_cn%></td>
      <%end%>
      <td><%= simple_format(e.name)  %></td>
      <td><%= e.quantity  %></td>
      <td>
        <%= link_to '修改',rpm_edit_item_path(e)  %>
        <%= link_to '删除', rpm_destroy_item_path(e), :confirm => 'Are you sure?', :method => :delete %> 
      </td>
    </tr>
  <%end%>
<%end%>

