<p>
  <%= @cur_user.org.name%>
  <br/>
  类型:RPM
  <br/>
  用户:<%= @cur_user.name%>
</p>
<%= link_to '新建brief',   new_brief_path   %>
<br/>
<%= link_to 'brief列表',   briefs_path   %>
<br />
<br />
<%= button_to '退出', users_logout_path, :method => :delete   %>
