<h1><%=@cur_user.org.name%> brief列表</h1>
<table>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>创建日期</th>
    <th>创建者</th>
    <th>已发送?</th>
    <th></th>
  </tr>
  <% @briefs.each do |brief| %>
  <tr>
    <td><%= brief.id %></td>
    <td><%= simple_format(brief.name) %></td>
    <td><%= short_d(brief.created_at) %></td>
    <td><%= brief.user.name %></td>
    <td><%= 'yes' if brief.send_to_cheil =='y' %></td>
    <td><%= link_to 'Show', rpm_show_brief_path(brief) %></td>
  </tr>
  <% end %>
</table>
