<p>
params[:brief]<br/>
<%=debug params[:brief]%>
</p>

<p>
@fake_brief.get_hash<br/>
<%@fake_brief.get_hash.each do |k,v|%>
  <%=k%>=<%=v%><br/>
<%end%>
</p>

<p>
fake_brief.get_brief<br/>
<%=debug @fake_brief.get_brief%>
</p>

<p>
fake_brief.get_items<br/>
<%= debug @fake_brief.get_items%>
</p>

