<h1>新建brief</h1>
<%=form_for(:brief,:url=>rpm_create_brief_path) do|f|%>
<p>
  名称:
  <br/>
  <%= f.text_area :name,:size=>'60x3'%>
</p>
<table>
  <caption>
    设计项
  </caption>
  <tr>
    <th></th>
    <th>名称</th>
    <th>数量</th>
  </tr>
  <%
  n=1
  while @brief.send("design#{n}_name")%>
  <tr>
    <td><%= n%></td>
    <td><%= f.text_field "design#{n}_name" %></td>
    <td><%= f.text_field "design#{n}_quantity" %></td>
  </tr>
  <%
  n +=1 
  end%>
</table>
<%=submit_tag '增加5条',:name=>'add_5_design'%>
<br/>
<table>
  <caption>
    制作项
  </caption>
  <tr>
    <th></th>
    <th>名称</th>
    <th>数量</th>
  </tr>
  <%
  n=1
  while @brief.send("product#{n}_name")%>
  <tr>
    <td><%= n%></td>
    <td><%= f.text_field "product#{n}_name" %></td>
    <td><%= f.text_field "product#{n}_quantity" %></td>
  </tr>
  <%
  n += 1
  end%>
</table>
<%=submit_tag '增加5条',:name=>'add_5_product'%><br/>
<%=f.submit '保存' %>
<%end%> 

