<%if notice%>
  <p id="notice"><%= notice %></p>
<%end%>
<h1>brief显示</h1>
<p>
<%= link_to '修改', rpm_edit_brief_path(@brief) %>
<%= link_to '删除',
  rpm_delete_brief_path(@brief), 
  :confirm => '将删除关联的所有信息,确定?', :method => :delete
%>
<%= link_to '新建附件', rpm_new_brief_attach_path(@brief) %>
<%= link_to '新建设计项', rpm_new_item_path(@brief,'design') %>
<%= link_to '新建制作项', rpm_new_item_path(@brief,'product') %>
<%= link_to '新建评论', rpm_new_brief_comment_path(@brief) %>
<%unless @brief.send_to_cheil?%>
  <%=link_to '发送给cheil',
    rpm_send_brief_path(@brief),
    :confirm => '确定吗？',
    :method => :post
  %>
<%end%>
</p>
<%=render 'brief',
  :brief => @brief,
  :brief_creator => @brief_creator
%>
<%=render 'brief_attaches',
  :brief=>@brief,
  :brief_attaches => @brief_attaches
%>
<br/>
<%=render 'brief_items',
  :brief => @brief,
  :brief_items => @brief_items,
  :brief_designs => @brief_designs,
  :brief_products => @brief_products
%>
<br/>
<%=render 'brief_comments'%>

