<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @brief_product.title %>
</p>

<p>
  <b>Quantity:</b>
  <%= @brief_product.quantity %>
</p>

<p>
  <b>Brief:</b>
  <%= @brief_product.brief_id %>
</p>


<%= link_to 'Edit', edit_brief_product_path(@brief_product) %> |
<%= link_to 'Back', brief_products_path %>
