<%
  #cheil_solutions/cheil/show 
#@solution
%>
<%#=render 'share/block',
  :nav=>{:partial=>'briefs/cheil/nav',
    :locals=>{:brief=>@solution.brief}},
    :contents=>[{:partial=>'cheil_solutions/cheil/links',
      :locals=>{:solution=>@solution}}
]
%>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%=link_to '返回',briefs_path%></li>
      <li><%=link_to '需求',brief_path(@brief)%></li>
      <li>
      <%=link_to 'Vendor方案',vendor_solutions_path(:brief_id=>@brief.id)%>
      </li>
      <li class="active">
      <%=link_to 'Cheil 方案',cheil_solution_path(@brief.cheil_solution)%>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <br>
      <%= link_to '新建评论', new_solution_comment_path(:solution_id=>@solution.id)%>
      <%if @brief.status < 2%>
        |
        <%= link_to '提交方案给RPM',send_to_rpm_cheil_solution_path(@solution),:method=>:put,:confirm=>'确定吗？'%>
      <%end%>
      <%if @solution.approved?%>
        |
        确认时间:<%=short_d(@solution.approved_at)%>
      <%end%>
      <%if @brief.status == 3%>
        |
        <%= link_to '完成',finish_cheil_solution_path(@solution),:method=>:put,:confirm=>'确定吗？'%>
      <%end%>
      <%if @brief.status == 4%>
        |
        完成时间:<%=short_d(@solution.finish_at)%>
        <%= link_to '取消完成',unfinish_cheil_solution_path(@solution),:method=>:put,:confirm=>'确定吗？'%>
      <%end%>
      <h2 class="title"><%=@brief.name%></h2>
    </div>
  </div>
</div>

<%=render 'attaches' unless @attaches.blank?%>
<%=render 'items' unless @items.blank?%>
<%=render  'vendor_solutions/comments' unless @comments.blank?%>

  <%#=render 'share/block',
    :title=>'子项',
    :content=>{:partial=>'cheil_solutions/items/index',
      :locals=>{:solution=>@solution,:total=>@solution.total}
  } unless @solution.checked_items.empty?
%>
<%#=render 'share/block',
  :title=>'付款',
  :content=>{:partial=>'cheil_solutions/payment/show'
} if @solution.approved?%>

<%#=comments(@solution)%>


