<%
  #vendor_org/index/_content
#vendor_orgs
%>
<table class="table">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Users</th>
      <th></th>
    </tr>

    <% vendor_orgs.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td> <% r.users.each  do |e| %>
            <%= link_to e.name,user_path(e) %>
          <%end%> </td>
        <td class="last">
          <%= link_to 'Edit', edit_vendor_org_path(r) %>
          |
          <%= link_to 'Destroy',r, confirm: 'Are you sure?', method: :delete %>
          |
          <%= link_to 'Create user', new_user_path(:org_id=>r.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新建Vendor', new_vendor_org_path %>
