<%= form_for(@vendor_org) do |f| %>
  <% if @vendor_org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_org.errors.count, "error") %> prohibited this vendor_org from being saved:</h2>

      <ul>
      <% @vendor_org.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
