<h1>Listing Vendor</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Users</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendor_orgs.each do |r| %>
  <tr>
    <td><%= r.name %></td>
    <td> <% r.users.each  do |e| %>
        <%= link_to e.name,user_path(e) %>
      <%end%> </td>
    <td><%= link_to 'Show', r %></td>
    <td><%= link_to 'Edit', edit_vendor_org_path(r) %></td>
    <td><%= link_to 'Destroy',r, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Create user', new_user_path(:org_id=>r.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vendor', new_vendor_org_path %>
