<%= form_for(@brief_comment) do |f| %>
  <% if @brief_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brief_comment.errors.count, "error") %> prohibited this brief_comment from being saved:</h2>

      <ul>
      <% @brief_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :brief_id %><br />
    <%= f.number_field :brief_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
