<h1>Listing brief_comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Brief</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brief_comments.each do |brief_comment| %>
  <tr>
    <td><%= brief_comment.content %></td>
    <td><%= brief_comment.brief_id %></td>
    <td><%= brief_comment.user_id %></td>
    <td><%= link_to 'Show', brief_comment %></td>
    <td><%= link_to 'Edit', edit_brief_comment_path(brief_comment) %></td>
    <td><%= link_to 'Destroy', brief_comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brief comment', new_brief_comment_path %>
