<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @brief_comment.content %>
</p>

<p>
  <b>Brief:</b>
  <%= @brief_comment.brief_id %>
</p>

<p>
  <b>User:</b>
  <%= @brief_comment.user_id %>
</p>


<%= link_to 'Edit', edit_brief_comment_path(@brief_comment) %> |
<%= link_to 'Back', brief_comments_path %>
