<div class="block">
  <div class="content">
    <h2 class="title">附件</h2>
    <div class="inner">
      <table class="table">
        <tbody>
          <tr>
            <th>文件名</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th></th>
          </tr>
          <%n=1
          @attaches.each do |e|%>
            <tr class="<%=['odd','even'][(n+=1)%2]%>">
              <td>
                <%if !e.op.read?(@cur_user.id)%>
                  <span style="<%=unread_color%>">(新)</span>
                <%end%>
                <%= e.attach_file_name  %>
              </td>
              <td><%=short_d(e.created_at)%></td>
              <td><%=short_d(e.updated_at)%></td>
              <td class="last">
                <%=link_to '下载',download_brief_attach_path(e)%> 
                <%if e.op_right.check('self',@cur_user.org_id,'update')%>
                  |
                  <%=link_to '更新',edit_brief_attach_path(e)%> 
                <%end%>
                <%if e.op_right.check('self',@cur_user.org_id,'delete')%>
                  |
                  <%=link_to '删除',brief_attach_path(e),:confirm => '确定要删除吗?', :method => :delete %>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
      <%if @brief.op_right.check('attach',@cur_user.org_id,'update')%>
        <%=link_to '新建附件', new_brief_attach_path(:brief_id=>@brief.id)%>
      <%end%>
    </div>
  </div>
</div>
