<%=form_for(@brief,:html=>{:class=>'form'}) do|f|%>
  <% if @brief.errors.any? %>
    <div id="error_explanation">
      <h2>有<%= @brief.errors.count %>个错误:</h2>
      <ul>
        <% @brief.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group">
    <%=f.label :name,'名称:',:class=>'label'%>
    <%= f.text_field :name,:class=>'text_field'%>
  </div>
  <div class="group">
  <%=f.label :req,'要求:',:class=>'label'%>
  <%=f.text_area :req,:size=>'60x3',:class=>'text_area'%>
  </div>
  <div class="group">
  <%=f.label :deadline,'期限:',:class=>'label'%>
  <%= f.date_select :deadline,:use_month_numbers => true %>
  </div>
  <div class="group">
    <%=f.submit '保存'%>
    <%= link_to '取消', @back if @back %>
  </div>
<%end%> 

