<%
  #partial => _show
#locals => brief
%>
<div class="brief_row <%= 'not_send' unless brief.send_to_cheil? %>">
  <div class="brief_name" id="<%="brief_name_#{brief.id}"%>">
    <%=link_to brief.name,brief%>
  </div>
  <div class="brief_req" id="<%="brief_req_#{brief.id}"%>">
    <%= simple_format(brief.req) %>
  </div>
  <div>
    <span class="brief_deadline">期限:<%= brief.deadline %></span>
    <span class="brief_creator">创建者:<%=brief.user.name%></span>
    <span class="briet_created_at">创建日期:<%=short_d(brief.created_at)%></span>
  </div>
</div>

