<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="<%='active' if request.fullpath == briefs_path%> first">
      <%=link_to '全部',briefs_path(@brief) %>
      </li>
      <%if @cur_user.org.instance_of?(RpmOrg)%>
        <li <%=raw 'class="active"' if request.fullpath == not_send_briefs_path%>>
        <%= link_to '未发送', not_send_briefs_path%>
        </li>
      <%end%>
      <li <%=raw 'class="active"' if [search_cond_briefs_path,search_res_briefs_path].include?(request.fullpath.split('?').first)%>>
      <%= link_to '检索', search_cond_briefs_path%>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <%case%>
      <%when @briefs%>
        <%=render 'index'%>
      <%else%>
        <%=render 'search_form'%>
      <%end%>
    </div>
  </div>
</div>

