<%if notice%>
  <p id="notice"><%= notice %></p>
<%end%>
<h1>brief显示</h1>
<p>
</p>
<%=render 'brief',
  :brief => @brief,
  :brief_creator => @brief_creator
%>
<%=render 'brief_attaches',
  :brief=>@brief,
  :brief_attaches => @brief_attaches
%>
<br/>
<%=render 'brief_items',
  :brief => @brief,
  :brief_items => @brief_items,
  :brief_designs => @brief_designs,
  :brief_products => @brief_products
%>
<br/>
<%=render 'comments/brief_comments',
  :brief => @brief,
  :comments => @comments,
  :back => @back
%>

