<table class="table">
  <tbody>
    <tr>
      <th></th>
      <th>总计</th>
      <th>税额</th>
      <th>税后总计</th>
    </tr>
    <%n=0%>
    <%if @solution.design_sum > 0%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>设计</td>
        <td><%=@solution.design_sum%></th>
        <td><%=@solution.design_tax_sum%></td>
        <td><%=@solution.design_and_tax_sum%></td>
      </tr>
    <%end%>
    <%if @solution.product_sum > 0%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>制作</td>
        <td><%=@solution.product_sum%></th>
        <td><%=@solution.product_tax_sum%></td>
        <td><%=@solution.product_and_tax_sum%></td>
      </tr>
    <%end%>
    <%if @solution.tran_sum > 0%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>运输</td>
        <td><%=@solution.tran_sum%></th>
        <td><%=@solution.tran_tax_sum%></td>
        <td><%=@solution.tran_and_tax_sum%></td>
      </tr>
    <%end%>
    <%if @solution.other_sum > 0%>
      <tr class="<%=['odd','even'][(n+=1)%2]%>">
        <td>其他</td>
        <td><%=@solution.other_sum%></th>
        <td><%=@solution.other_tax_sum%></td>
        <td><%=@solution.other_and_tax_sum%></td>
      </tr>
    <%end%>
    <tr class="<%=['odd','even'][(n+=1)%2]%>">
      <td>全部累计</td>
      <td><%=@solution.all_sum%></th>
      <td><%=@solution.all_tax_sum%></td>
      <td><%=@solution.all_and_tax_sum%></td>
    </tr>
  </tbody>
</table>

