<%n=0
items.each do |e|%>
  <tr class="<%=['odd','even'][(n+=1)%2]%>">
    <%n.upto(1)do %>
      <td colspan="1" rowspan="<%=items.length%>"><%=kind_cn%></td>
    <%end%>
    <td>
      <%if e.op_notice.include?(@cur_user.org_id)%>
        <span style="<%=unread_color%>">(新)</span>
        <%e.op_notice.del(@cur_user.org_id);e.save%>
      <%end%>
      <%if e.checked == 'y'%>
        <span style="<%=unread_color%>">(选中)</span>
      <%end%>
      <%= e.name  %>
    </td>
    <td><%= e.quantity  %></td>
    <td><%= e.note  %></td>
    <td><%= e.price  %></td>
    <td><%= e.total_up %></td>
    <td><%=percentage(e.tax_rate)%></td>
    <td><%= e.tax %></td>
    <td><%= e.total_up_tax %></td>
    <td class="last">
      <%if e.op_right.check('self',@cur_user.org_id,'price')%>
        <%=link_to('报价',edit_price_solution_item_path(e))%>
      <%end%>
      <%if e.op_right.check('self',@cur_user.org_id,'update')%>
        <%=link_to('修改',edit_solution_item_path(e))%>  
      <%end%>
      <%if e.op_right.check('self',@cur_user.org_id,'delete')%>
        <%=link_to('删除',solution_item_path(e),:confirm => '确定要删除吗?',:method => :delete)%> 
      <%end%>
      <%if e.op_right.check('self',@cur_user.org_id,'check')%>
        <%if e.checked != 'y'%>
          <%=link_to('选中',check_solution_item_path(e),{:method => :put})%>
        <%else%>
          <%=link_to('不选',uncheck_solution_item_path(e),{:method => :put})%>
        <%end%>
      <%end%>
    </td>
  </tr>
<%end%>

