<%content_for :cheil do%>
  <div class="block">
    <div class="secondary-navigation">
      <ul class="wat-cf">
        <li>
        <%=link_to '返回',vendor_solutions_path(:brief_id=>@brief)%>
        </li>
        <li class="active">
        <%=link_to 'Vendor方案',vendor_solution_path(@solution)%>
        </li>
      </ul>
    </div>
    <div class="content">
      <h2 class="title"><%="#{@brief.name}(#{@solution.org.name})"%></h2>
      <div class="inner">
        <%n = 0%>
        <%if @solution.op_right.check('attach',@cur_user.org_id,'update')%>
          <%= link_to '新建附件', new_solution_attach_path(:solution_id=>@solution.id)%>
          <% n += 1%>
        <%end%>
        <%if @solution.op_right.check('item',@cur_user.org_id,'create_tran')%>
          <%= link_to (n > 0 ? ' | ' : '') + '新建运输项', new_solution_item_path(:solution_id=>@solution.id,:kind=>'tran')%>
        <%end%>
        <%if @solution.op_right.check('item',@cur_user.org_id,'create_other')%>
          <%= link_to (n > 0 ? ' | ' : '') + '新建其他项', new_solution_item_path(:solution_id=>@solution.id,:kind=>'other')%>
        <%end%>
        <%if @solution.op_right.check('comment',@cur_user.org_id,'update')%> 
          <%= link_to (n > 0 ? ' | ' : '') + '新建评论', new_solution_comment_path(:solution_id=>@solution.id)%>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
<%content_for :vendor do%>
  <div class="block">
    <div class="secondary-navigation">
      <ul class="wat-cf">
        <li>
        <%=link_to '返回',briefs_path%>
        </li>
        <li>
        <%=link_to '需求',brief_path(@brief)%>
        </li>
        <li class="active">
        <%=link_to '方案',vendor_solution_path(@solution)%>
        </li>
      </ul>
    </div>
    <div class="content">
      <h2 class="title"><%="#{@brief.name}(#{@solution.org.name})"%></h2>
      <div class="inner">
        <br/>
        <%= link_to '新建附件', new_solution_attach_path(:solution_id=>@solution.id)%>
        |
        <%= link_to '新建运输项', new_solution_item_path(:solution_id=>@solution.id,:kind=>'tran')%>
        |
        <%= link_to '新建其他项', new_solution_item_path(:solution_id=>@solution.id,:kind=>'other')%>
        |
        <%= link_to '新建评论', new_solution_comment_path(:solution_id=>@solution.id)%>
      </div>
    </div>
  </div>
<%end%>
<%=yield @nav_link%>
<%=render 'attaches' unless @attaches.blank?%>
