<%= form_for(@admin_user,:html=>{:class=>'form'}) do |f| %>
  <div class="group">
    <%= f.label :name,'用户名',:class=>'label' %>
    <%= f.text_field :name,:class=>'text_field' %>
  </div>
  <div class="group">
    <%= f.label :password,'密码',:class=>'label' %>
    <%= f.password_field :password,:class=>'text_field' %>
  </div>
  <div class="group">
    <%= f.label :email,:class=>'label' %>
    <%= f.text_field :email,:class=>'text_field' %>
  </div>
  <div class="group">
    <%= f.label :phone,'电话',:class=>'label' %>
    <%= f.text_field :phone,:class=>'text_field' %>
  </div>

  <div class="group">
    <button class="button" type="submit">
      <img src="images/icons/tick.png" alt="Save" />
      提交
    </button>
    <%= link_to '取消', @back %>
  </div>
<% end %>


