<p>
  管理员:<%= @cur_user.name%>
</p>
<%= link_to '管理员帐号',   admin_users_path   %>
<br />
<br />
<%= link_to 'RPM',   rpm_orgs_path   %>
<br />
<%= link_to 'Cheil',   cheil_orgs_path   %>
<br />
<%= link_to 'Vendor',   vendor_orgs_path   %>
<br />
<br />
<%= button_to 'Logout', admin_users_logout_path, :method => :delete   %> 
<br />

