<p id="notice"><%= notice %></p>

<p>
  <b>Brief:</b>
  <%= @item.brief_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Kind:</b>
  <%= @item.kind %>
</p>

<p>
  <b>Parent:</b>
  <%= @item.parent_id %>
</p>

<p>
  <b>Vendor:</b>
  <%= @item.vendor_id %>
</p>

<p>
  <b>Checked:</b>
  <%= @item.checked %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
